$font-base: 'AzeretMono', sans-serif;
$font-size-base: 1.6rem;
$font-weight-base: normal;
$line-height-base: 1.5;

/* Colors */
$white: #FFFFFF;
$dark-200: #F3F3F3;
$dark-400: #E8E8E8;
$dark-600: #868686;
$dark-700: #494949;
$dark-800: #232323;
$dark: #101010;

$accent: #E2BEFF;

$body-color: $dark;
$body-bg: $white;

$default-transition: 0.3s ease-in-out;
