.container {
  width: 121.8rem;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.page {
  padding-top: 13.4rem;
  padding-bottom: 8.4rem;
}

* {
  letter-spacing: 0.005em;
}
